#content-container{
    max-width: 500px;
}  


h5{
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#card  {
    background-color: rgb(229, 229, 229);
}

#edit-btn{
    max-width: 90px;
}
