{% extends "base.html" %}
{% block content %}
<div class="shadow-wrap">
  <div class="form-wrap">
    <h3>Signup</h3>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a class="signup-link" href="{% url 'login' %}">Login</a>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}
